In [1]:
people = {"first": ["Corey", "Jane", "John"],
          "last": ["Schafer", "Doe", "Doe"],
          "email": ["CoreySchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]
          }

In [2]:
people['email']

['CoreySchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
import pandas as pd
print("the version of pandas is", pd.__version__)

the version of pandas is 2.2.2

In [4]:
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com

In [5]:
df['email']

0    CoreySchafer@gmail.com
1         JaneDoe@email.com
2         JohnDoe@email.com
Name: email, dtype: object

In [6]:
type(df['email'])

pandas.core.series.Series

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.email

0    CoreySchafer@gmail.com
1         JaneDoe@email.com
2         JohnDoe@email.com
Name: email, dtype: object

In [9]:
df[['last', 'email']]

      last                   email
0  Schafer  CoreySchafer@gmail.com
1      Doe       JaneDoe@email.com
2      Doe       JohnDoe@email.com

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
df.iloc[[0, 1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com

In [12]:
df.iloc[[0, 1], :]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com

In [13]:
df.loc[[0, 1], ['email', 'first']]

                    email  first
0  CoreySchafer@gmail.com  Corey
1       JaneDoe@email.com   Jane

In [14]:
df.set_index('email', inplace=True)

In [15]:
df

                        first     last
email
CoreySchafer@gmail.com  Corey  Schafer
JaneDoe@email.com        Jane      Doe
JohnDoe@email.com        John      Doe

In [16]:
df.index

Index(['CoreySchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [17]:
df.loc['CoreySchafer@gmail.com', 'last']

'Schafer'

In [18]:
try:
    df.loc[2]
except KeyError as e:
    print(f"Error: {e}")

Error: 2

In [19]:
df.iloc[2]

first    John
last      Doe
Name: JohnDoe@email.com, dtype: object

In [20]:
df.reset_index(inplace=True)
df

                    email  first     last
0  CoreySchafer@gmail.com  Corey  Schafer
1       JaneDoe@email.com   Jane      Doe
2       JohnDoe@email.com   John      Doe