In [1]:
import pandas as pd
print("the version of pandas is", pd.__version__)

people = {"first": ["Corey", "Jane", "John", "Adam"],
          "last": ["Schafer", "Doe", "Doe", "Doe"],
          "email": ["CoreySchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com", "A@email.com"]
          }
df = pd.DataFrame(people)
df

the version of pandas is 2.2.2

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com
3   Adam      Doe             A@email.com

In [2]:
df.sort_values(by=['last', 'first'], ascending=False)

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
2   John      Doe       JohnDoe@email.com
1   Jane      Doe       JaneDoe@email.com
3   Adam      Doe             A@email.com

In [3]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
3   Adam      Doe             A@email.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com

In [4]:
df.sort_index()

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com
3   Adam      Doe             A@email.com

In [5]:
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object